# una variable de entorno usada en un archivo dentro de /api solo es visible en el serverdidor
MONGO_URL=mongodb://localhost:27017/teslodb
SECRETE_KEY=

# Si lleva NEXT_PUBLIC es visible en el lade del cliente
NEXT_PUBLIC_CLIENT_KEY=

# Tax rent
NEXT_PUBLIC_TAX_RATE=

# semilla JWT
JWT_SECRET_SEED=

# Next Auth ( la misma de JWT_SECRET_SEED )
NEXTAUTH_SECRET=

# Provider auth
GITHUB_ID=
GITHUB_SECRET=